<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>lockscreen.test.LockScreenUITest</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SearchAutocompleteTest</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Weather_RainPredictionTest</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>News_SponsoredTest</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>VoiceSearchTest</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>News_RedirectionTest</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>PDM_Brightnesss_Descrese</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>PDM_Location_Disable</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>PDM_Brightnesss_Increase</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Weather_TempIconTest</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Weather_HoulyRedirectionTest</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Weather_cityNameTest</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Weather_RefreshTest</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Weather_BigIconTest</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Weather_WeekForecastTest</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>PDM_Mute</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Settings_LockDelay_5Min</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>PullDownMenu_Open</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Settings_LockDelay_1Min</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Settings_LockDelay_30Sec</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Settings_NotificationsVisibiltyHide</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Settings_EnableSecurityPin</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>PDM__WiFi_Disable</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Settings_UnlockPIN</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>OpenSettings</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>News_CategoriesTest</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Settings_LockDelay_4Min</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Settings_TCRedirection</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Weather_TempLabelTest</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Settings_VersionName</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>News_RefreshTest</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Settings_PrivacyRedirection</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Settings_EnableLockScreen</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>SwipeRight_SettingTest</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>PDM_Camera</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>PDM_WiFi_Enable</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Weather_cityTempTest</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>PDM_Airplane_Enable</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Weather_WeeklyRedirectionTest</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Settings_DisableSecurityPin</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Weather_WindDetailTest</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Settings_WallpaperCustom</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Weather_TempProviderTest</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>PDM_Airplane_Disable</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>SwipeRight_CameraTest</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TextSearchTest</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>FeatureAdsTilesTest</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Weather_HumidityDetailsTest</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>News_ImageTest</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>News_ProviderTest</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Settings_LockDelay_3Min</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Settings_LockDelay_None</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>PDM_Unmute</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Settings_NotificationsEnable</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Weather_HourlyTest</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>PDM_Bluetooth_Disable</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Settings_DisableLockscreen</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Weather_MorningTempTest</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>News_TitleTest</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Settings_NotificationsVisibiltyShow</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>News_NavigationTest</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Weather_EveningTempTest</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>News_MainBrowserAccessTest</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Settings_DataSavingModeDisableTest</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Settings_LockDelay_2Min</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Settings_DataSavingEnableTest</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>SwipeRightTest</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>PDM_Settings</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>PDM_Bluetooth_Enable</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>SwipeRight_UnlockTest</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>PDM_Location_Enable</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>beforeMethod</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>afterMethod</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
</table>
