<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="97b678">  <td>17/06/16 12:36:49</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LockScreenUITest.FeatureAdsTilesTest()[pri:1, instance:lockscreen.test.LockScreenUITest@20322d26]">FeatureAdsTilesTest</td> 
  <td>main@916419490</td>   <td></td> </tr>
<tr bgcolor="97b678">  <td>17/06/16 13:20:04</td>   <td>2595061</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LockScreenUITest.News_CategoriesTest()[pri:28, instance:lockscreen.test.LockScreenUITest@20322d26]">News_CategoriesTest</td> 
  <td>main@916419490</td>   <td></td> </tr>
<tr bgcolor="97b678">  <td>17/06/16 13:20:04</td>   <td>2595038</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LockScreenUITest.News_ImageTest()[pri:23, instance:lockscreen.test.LockScreenUITest@20322d26]">News_ImageTest</td> 
  <td>main@916419490</td>   <td></td> </tr>
<tr bgcolor="97b678">  <td>17/06/16 13:20:04</td>   <td>2595070</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LockScreenUITest.News_MainBrowserAccessTest()[pri:30, instance:lockscreen.test.LockScreenUITest@20322d26]">News_MainBrowserAccessTest</td> 
  <td>main@916419490</td>   <td></td> </tr>
<tr bgcolor="97b678">  <td>17/06/16 13:20:04</td>   <td>2595033</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LockScreenUITest.News_NavigationTest()[pri:22, instance:lockscreen.test.LockScreenUITest@20322d26]">News_NavigationTest</td> 
  <td>main@916419490</td>   <td></td> </tr>
<tr bgcolor="97b678">  <td>17/06/16 13:20:04</td>   <td>2595048</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LockScreenUITest.News_ProviderTest()[pri:25, instance:lockscreen.test.LockScreenUITest@20322d26]">News_ProviderTest</td> 
  <td>main@916419490</td>   <td></td> </tr>
<tr bgcolor="97b678">  <td>17/06/16 13:20:04</td>   <td>2595057</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LockScreenUITest.News_RedirectionTest()[pri:27, instance:lockscreen.test.LockScreenUITest@20322d26]">News_RedirectionTest</td> 
  <td>main@916419490</td>   <td></td> </tr>
<tr bgcolor="97b678">  <td>17/06/16 13:20:04</td>   <td>2595066</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LockScreenUITest.News_RefreshTest()[pri:29, instance:lockscreen.test.LockScreenUITest@20322d26]">News_RefreshTest</td> 
  <td>main@916419490</td>   <td></td> </tr>
<tr bgcolor="97b678">  <td>17/06/16 13:20:04</td>   <td>2595052</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LockScreenUITest.News_SponsoredTest()[pri:26, instance:lockscreen.test.LockScreenUITest@20322d26]">News_SponsoredTest</td> 
  <td>main@916419490</td>   <td></td> </tr>
<tr bgcolor="97b678">  <td>17/06/16 13:20:04</td>   <td>2595042</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LockScreenUITest.News_TitleTest()[pri:24, instance:lockscreen.test.LockScreenUITest@20322d26]">News_TitleTest</td> 
  <td>main@916419490</td>   <td></td> </tr>
<tr bgcolor="97b678">  <td>17/06/16 13:20:04</td>   <td>2595200</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LockScreenUITest.OpenSettings()[pri:50, instance:lockscreen.test.LockScreenUITest@20322d26]">OpenSettings</td> 
  <td>main@916419490</td>   <td></td> </tr>
<tr bgcolor="97b678">  <td>17/06/16 13:20:04</td>   <td>2595151</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LockScreenUITest.PDM_Airplane_Disable()[pri:41, instance:lockscreen.test.LockScreenUITest@20322d26]">PDM_Airplane_Disable</td> 
  <td>main@916419490</td>   <td></td> </tr>
<tr bgcolor="97b678">  <td>17/06/16 13:20:04</td>   <td>2595136</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LockScreenUITest.PDM_Airplane_Enable()[pri:40, instance:lockscreen.test.LockScreenUITest@20322d26]">PDM_Airplane_Enable</td> 
  <td>main@916419490</td>   <td></td> </tr>
<tr bgcolor="97b678">  <td>17/06/16 13:20:04</td>   <td>2595132</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LockScreenUITest.PDM_Bluetooth_Disable()[pri:39, instance:lockscreen.test.LockScreenUITest@20322d26]">PDM_Bluetooth_Disable</td> 
  <td>main@916419490</td>   <td></td> </tr>
<tr bgcolor="97b678">  <td>17/06/16 13:20:04</td>   <td>2595129</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LockScreenUITest.PDM_Bluetooth_Enable()[pri:38, instance:lockscreen.test.LockScreenUITest@20322d26]">PDM_Bluetooth_Enable</td> 
  <td>main@916419490</td>   <td></td> </tr>
<tr bgcolor="97b678">  <td>17/06/16 13:20:04</td>   <td>2595171</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LockScreenUITest.PDM_Brightnesss_Descrese()[pri:45, instance:lockscreen.test.LockScreenUITest@20322d26]">PDM_Brightnesss_Descrese</td> 
  <td>main@916419490</td>   <td></td> </tr>
<tr bgcolor="97b678">  <td>17/06/16 13:20:04</td>   <td>2595169</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LockScreenUITest.PDM_Brightnesss_Increase()[pri:44, instance:lockscreen.test.LockScreenUITest@20322d26]">PDM_Brightnesss_Increase</td> 
  <td>main@916419490</td>   <td></td> </tr>
<tr bgcolor="97b678">  <td>17/06/16 13:20:04</td>   <td>2595194</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LockScreenUITest.PDM_Camera()[pri:48, instance:lockscreen.test.LockScreenUITest@20322d26]">PDM_Camera</td> 
  <td>main@916419490</td>   <td></td> </tr>
<tr bgcolor="97b678">  <td>17/06/16 13:20:04</td>   <td>2595191</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LockScreenUITest.PDM_Location_Disable()[pri:47, instance:lockscreen.test.LockScreenUITest@20322d26]">PDM_Location_Disable</td> 
  <td>main@916419490</td>   <td></td> </tr>
<tr bgcolor="97b678">  <td>17/06/16 13:20:04</td>   <td>2595188</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LockScreenUITest.PDM_Location_Enable()[pri:46, instance:lockscreen.test.LockScreenUITest@20322d26]">PDM_Location_Enable</td> 
  <td>main@916419490</td>   <td></td> </tr>
<tr bgcolor="97b678">  <td>17/06/16 13:20:04</td>   <td>2595163</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LockScreenUITest.PDM_Mute()[pri:42, instance:lockscreen.test.LockScreenUITest@20322d26]">PDM_Mute</td> 
  <td>main@916419490</td>   <td></td> </tr>
<tr bgcolor="97b678">  <td>17/06/16 13:20:04</td>   <td>2595196</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LockScreenUITest.PDM_Settings()[pri:49, instance:lockscreen.test.LockScreenUITest@20322d26]">PDM_Settings</td> 
  <td>main@916419490</td>   <td></td> </tr>
<tr bgcolor="97b678">  <td>17/06/16 13:20:04</td>   <td>2595166</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LockScreenUITest.PDM_Unmute()[pri:43, instance:lockscreen.test.LockScreenUITest@20322d26]">PDM_Unmute</td> 
  <td>main@916419490</td>   <td></td> </tr>
<tr bgcolor="97b678">  <td>17/06/16 13:20:04</td>   <td>2595122</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LockScreenUITest.PDM_WiFi_Enable()[pri:36, instance:lockscreen.test.LockScreenUITest@20322d26]">PDM_WiFi_Enable</td> 
  <td>main@916419490</td>   <td></td> </tr>
<tr bgcolor="97b678">  <td>17/06/16 13:20:04</td>   <td>2595125</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LockScreenUITest.PDM__WiFi_Disable()[pri:37, instance:lockscreen.test.LockScreenUITest@20322d26]">PDM__WiFi_Disable</td> 
  <td>main@916419490</td>   <td></td> </tr>
<tr bgcolor="97b678">  <td>17/06/16 13:20:04</td>   <td>2595118</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LockScreenUITest.PullDownMenu_Open()[pri:35, instance:lockscreen.test.LockScreenUITest@20322d26]">PullDownMenu_Open</td> 
  <td>main@916419490</td>   <td></td> </tr>
<tr bgcolor="97b678">  <td>17/06/16 13:20:04</td>   <td>2595024</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LockScreenUITest.SearchAutocompleteTest()[pri:20, instance:lockscreen.test.LockScreenUITest@20322d26]">SearchAutocompleteTest</td> 
  <td>main@916419490</td>   <td></td> </tr>
<tr bgcolor="97b678">  <td>17/06/16 13:20:04</td>   <td>2595255</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LockScreenUITest.Settings_DataSavingEnableTest()[pri:62, instance:lockscreen.test.LockScreenUITest@20322d26]">Settings_DataSavingEnableTest</td> 
  <td>main@916419490</td>   <td></td> </tr>
<tr bgcolor="97b678">  <td>17/06/16 13:20:04</td>   <td>2595259</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LockScreenUITest.Settings_DataSavingModeDisableTest()[pri:63, instance:lockscreen.test.LockScreenUITest@20322d26]">Settings_DataSavingModeDisableTest</td> 
  <td>main@916419490</td>   <td></td> </tr>
<tr bgcolor="97b678">  <td>17/06/16 13:20:04</td>   <td>2595205</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LockScreenUITest.Settings_DisableLockscreen()[pri:51, instance:lockscreen.test.LockScreenUITest@20322d26]">Settings_DisableLockscreen</td> 
  <td>main@916419490</td>   <td></td> </tr>
<tr bgcolor="97b678">  <td>17/06/16 13:20:04</td>   <td>2595219</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LockScreenUITest.Settings_DisableSecurityPin()[pri:53, instance:lockscreen.test.LockScreenUITest@20322d26]">Settings_DisableSecurityPin</td> 
  <td>main@916419490</td>   <td></td> </tr>
<tr bgcolor="97b678">  <td>17/06/16 13:20:04</td>   <td>2595212</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LockScreenUITest.Settings_EnableLockScreen()[pri:52, instance:lockscreen.test.LockScreenUITest@20322d26]">Settings_EnableLockScreen</td> 
  <td>main@916419490</td>   <td></td> </tr>
<tr bgcolor="97b678">  <td>17/06/16 13:20:04</td>   <td>2595215</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LockScreenUITest.Settings_EnableSecurityPin()[pri:52, instance:lockscreen.test.LockScreenUITest@20322d26]">Settings_EnableSecurityPin</td> 
  <td>main@916419490</td>   <td></td> </tr>
<tr bgcolor="97b678">  <td>17/06/16 13:20:04</td>   <td>2595239</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LockScreenUITest.Settings_LockDelay_1Min()[pri:57, instance:lockscreen.test.LockScreenUITest@20322d26]">Settings_LockDelay_1Min</td> 
  <td>main@916419490</td>   <td></td> </tr>
<tr bgcolor="97b678">  <td>17/06/16 13:20:04</td>   <td>2595243</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LockScreenUITest.Settings_LockDelay_2Min()[pri:58, instance:lockscreen.test.LockScreenUITest@20322d26]">Settings_LockDelay_2Min</td> 
  <td>main@916419490</td>   <td></td> </tr>
<tr bgcolor="97b678">  <td>17/06/16 13:20:04</td>   <td>2595233</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LockScreenUITest.Settings_LockDelay_30Sec()[pri:56, instance:lockscreen.test.LockScreenUITest@20322d26]">Settings_LockDelay_30Sec</td> 
  <td>main@916419490</td>   <td></td> </tr>
<tr bgcolor="97b678">  <td>17/06/16 13:20:04</td>   <td>2595245</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LockScreenUITest.Settings_LockDelay_3Min()[pri:59, instance:lockscreen.test.LockScreenUITest@20322d26]">Settings_LockDelay_3Min</td> 
  <td>main@916419490</td>   <td></td> </tr>
<tr bgcolor="97b678">  <td>17/06/16 13:20:04</td>   <td>2595249</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LockScreenUITest.Settings_LockDelay_4Min()[pri:60, instance:lockscreen.test.LockScreenUITest@20322d26]">Settings_LockDelay_4Min</td> 
  <td>main@916419490</td>   <td></td> </tr>
<tr bgcolor="97b678">  <td>17/06/16 13:20:04</td>   <td>2595252</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LockScreenUITest.Settings_LockDelay_5Min()[pri:61, instance:lockscreen.test.LockScreenUITest@20322d26]">Settings_LockDelay_5Min</td> 
  <td>main@916419490</td>   <td></td> </tr>
<tr bgcolor="97b678">  <td>17/06/16 13:20:04</td>   <td>2595226</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LockScreenUITest.Settings_LockDelay_None()[pri:55, instance:lockscreen.test.LockScreenUITest@20322d26]">Settings_LockDelay_None</td> 
  <td>main@916419490</td>   <td></td> </tr>
<tr bgcolor="97b678">  <td>17/06/16 13:20:04</td>   <td>2595268</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LockScreenUITest.Settings_NotificationsEnable()[pri:64, instance:lockscreen.test.LockScreenUITest@20322d26]">Settings_NotificationsEnable</td> 
  <td>main@916419490</td>   <td></td> </tr>
<tr bgcolor="97b678">  <td>17/06/16 13:20:04</td>   <td>2595276</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LockScreenUITest.Settings_NotificationsVisibiltyHide()[pri:65, instance:lockscreen.test.LockScreenUITest@20322d26]">Settings_NotificationsVisibiltyHide</td> 
  <td>main@916419490</td>   <td></td> </tr>
<tr bgcolor="97b678">  <td>17/06/16 13:20:04</td>   <td>2595278</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LockScreenUITest.Settings_NotificationsVisibiltyShow()[pri:66, instance:lockscreen.test.LockScreenUITest@20322d26]">Settings_NotificationsVisibiltyShow</td> 
  <td>main@916419490</td>   <td></td> </tr>
<tr bgcolor="97b678">  <td>17/06/16 13:20:04</td>   <td>2595291</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LockScreenUITest.Settings_PrivacyRedirection()[pri:69, instance:lockscreen.test.LockScreenUITest@20322d26]">Settings_PrivacyRedirection</td> 
  <td>main@916419490</td>   <td></td> </tr>
<tr bgcolor="97b678">  <td>17/06/16 13:20:04</td>   <td>2595286</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LockScreenUITest.Settings_TCRedirection()[pri:68, instance:lockscreen.test.LockScreenUITest@20322d26]">Settings_TCRedirection</td> 
  <td>main@916419490</td>   <td></td> </tr>
<tr bgcolor="97b678">  <td>17/06/16 13:20:04</td>   <td>2595222</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LockScreenUITest.Settings_UnlockPIN()[pri:54, instance:lockscreen.test.LockScreenUITest@20322d26]">Settings_UnlockPIN</td> 
  <td>main@916419490</td>   <td></td> </tr>
<tr bgcolor="97b678">  <td>17/06/16 13:20:04</td>   <td>2595294</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LockScreenUITest.Settings_VersionName()[pri:70, instance:lockscreen.test.LockScreenUITest@20322d26]">Settings_VersionName</td> 
  <td>main@916419490</td>   <td></td> </tr>
<tr bgcolor="97b678">  <td>17/06/16 13:20:04</td>   <td>2595281</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LockScreenUITest.Settings_WallpaperCustom()[pri:67, instance:lockscreen.test.LockScreenUITest@20322d26]">Settings_WallpaperCustom</td> 
  <td>main@916419490</td>   <td></td> </tr>
<tr bgcolor="97b678">  <td>17/06/16 13:20:04</td>   <td>2595088</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LockScreenUITest.SwipeRightTest()[pri:31, instance:lockscreen.test.LockScreenUITest@20322d26]">SwipeRightTest</td> 
  <td>main@916419490</td>   <td></td> </tr>
<tr bgcolor="97b678">  <td>17/06/16 13:20:04</td>   <td>2595093</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LockScreenUITest.SwipeRight_CameraTest()[pri:32, instance:lockscreen.test.LockScreenUITest@20322d26]">SwipeRight_CameraTest</td> 
  <td>main@916419490</td>   <td></td> </tr>
<tr bgcolor="97b678">  <td>17/06/16 13:20:04</td>   <td>2595099</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LockScreenUITest.SwipeRight_SettingTest()[pri:33, instance:lockscreen.test.LockScreenUITest@20322d26]">SwipeRight_SettingTest</td> 
  <td>main@916419490</td>   <td></td> </tr>
<tr bgcolor="97b678">  <td>17/06/16 13:20:04</td>   <td>2595111</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LockScreenUITest.SwipeRight_UnlockTest()[pri:34, instance:lockscreen.test.LockScreenUITest@20322d26]">SwipeRight_UnlockTest</td> 
  <td>main@916419490</td>   <td></td> </tr>
<tr bgcolor="97b678">  <td>17/06/16 13:20:04</td>   <td>2595020</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LockScreenUITest.TextSearchTest()[pri:19, instance:lockscreen.test.LockScreenUITest@20322d26]">TextSearchTest</td> 
  <td>main@916419490</td>   <td></td> </tr>
<tr bgcolor="97b678">  <td>17/06/16 13:20:04</td>   <td>2595029</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LockScreenUITest.VoiceSearchTest()[pri:21, instance:lockscreen.test.LockScreenUITest@20322d26]">VoiceSearchTest</td> 
  <td>main@916419490</td>   <td></td> </tr>
<tr bgcolor="97b678">  <td>17/06/16 12:48:57</td>   <td>727941</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LockScreenUITest.Weather_BigIconTest()[pri:13, instance:lockscreen.test.LockScreenUITest@20322d26]">Weather_BigIconTest</td> 
  <td>main@916419490</td>   <td></td> </tr>
<tr bgcolor="97b678">  <td>17/06/16 12:47:59</td>   <td>669996</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LockScreenUITest.Weather_EveningTempTest()[pri:12, instance:lockscreen.test.LockScreenUITest@20322d26]">Weather_EveningTempTest</td> 
  <td>main@916419490</td>   <td></td> </tr>
<tr bgcolor="97b678">  <td>17/06/16 12:51:34</td>   <td>885251</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LockScreenUITest.Weather_HoulyRedirectionTest()[pri:15, instance:lockscreen.test.LockScreenUITest@20322d26]">Weather_HoulyRedirectionTest</td> 
  <td>main@916419490</td>   <td></td> </tr>
<tr bgcolor="97b678">  <td>17/06/16 12:50:11</td>   <td>802691</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LockScreenUITest.Weather_HourlyTest()[pri:14, instance:lockscreen.test.LockScreenUITest@20322d26]">Weather_HourlyTest</td> 
  <td>main@916419490</td>   <td></td> </tr>
<tr bgcolor="97b678">  <td>17/06/16 12:45:03</td>   <td>494140</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LockScreenUITest.Weather_HumidityDetailsTest()[pri:9, instance:lockscreen.test.LockScreenUITest@20322d26]">Weather_HumidityDetailsTest</td> 
  <td>main@916419490</td>   <td></td> </tr>
<tr bgcolor="97b678">  <td>17/06/16 12:47:00</td>   <td>611684</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LockScreenUITest.Weather_MorningTempTest()[pri:11, instance:lockscreen.test.LockScreenUITest@20322d26]">Weather_MorningTempTest</td> 
  <td>main@916419490</td>   <td></td> </tr>
<tr bgcolor="97b678">  <td>17/06/16 12:46:02</td>   <td>552976</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LockScreenUITest.Weather_RainPredictionTest()[pri:10, instance:lockscreen.test.LockScreenUITest@20322d26]">Weather_RainPredictionTest</td> 
  <td>main@916419490</td>   <td></td> </tr>
<tr bgcolor="97b678">  <td>17/06/16 13:20:04</td>   <td>2595010</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LockScreenUITest.Weather_RefreshTest()[pri:18, instance:lockscreen.test.LockScreenUITest@20322d26]">Weather_RefreshTest</td> 
  <td>main@916419490</td>   <td></td> </tr>
<tr bgcolor="97b678">  <td>17/06/16 12:40:44</td>   <td>235293</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LockScreenUITest.Weather_TempIconTest()[pri:5, instance:lockscreen.test.LockScreenUITest@20322d26]">Weather_TempIconTest</td> 
  <td>main@916419490</td>   <td></td> </tr>
<tr bgcolor="97b678">  <td>17/06/16 12:42:09</td>   <td>319859</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LockScreenUITest.Weather_TempLabelTest()[pri:6, instance:lockscreen.test.LockScreenUITest@20322d26]">Weather_TempLabelTest</td> 
  <td>main@916419490</td>   <td></td> </tr>
<tr bgcolor="97b678">  <td>17/06/16 12:43:07</td>   <td>378304</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LockScreenUITest.Weather_TempProviderTest()[pri:7, instance:lockscreen.test.LockScreenUITest@20322d26]">Weather_TempProviderTest</td> 
  <td>main@916419490</td>   <td></td> </tr>
<tr bgcolor="97b678">  <td>17/06/16 12:52:41</td>   <td>952244</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LockScreenUITest.Weather_WeekForecastTest()[pri:16, instance:lockscreen.test.LockScreenUITest@20322d26]">Weather_WeekForecastTest</td> 
  <td>main@916419490</td>   <td></td> </tr>
<tr bgcolor="97b678">  <td>17/06/16 13:20:04</td>   <td>2595000</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LockScreenUITest.Weather_WeeklyRedirectionTest()[pri:17, instance:lockscreen.test.LockScreenUITest@20322d26]">Weather_WeeklyRedirectionTest</td> 
  <td>main@916419490</td>   <td></td> </tr>
<tr bgcolor="97b678">  <td>17/06/16 12:44:05</td>   <td>436181</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LockScreenUITest.Weather_WindDetailTest()[pri:8, instance:lockscreen.test.LockScreenUITest@20322d26]">Weather_WindDetailTest</td> 
  <td>main@916419490</td>   <td></td> </tr>
<tr bgcolor="97b678">  <td>17/06/16 12:38:46</td>   <td>117523</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LockScreenUITest.Weather_cityNameTest()[pri:3, instance:lockscreen.test.LockScreenUITest@20322d26]">Weather_cityNameTest</td> 
  <td>main@916419490</td>   <td></td> </tr>
<tr bgcolor="97b678">  <td>17/06/16 12:39:44</td>   <td>175552</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LockScreenUITest.Weather_cityTempTest()[pri:4, instance:lockscreen.test.LockScreenUITest@20322d26]">Weather_cityTempTest</td> 
  <td>main@916419490</td>   <td></td> </tr>
<tr bgcolor="97b678">  <td>17/06/16 12:37:49</td>   <td>59955</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LockScreenUITest.afterMethod()[pri:0, instance:lockscreen.test.LockScreenUITest@20322d26]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@916419490</td>   <td></td> </tr>
<tr bgcolor="97b678">  <td>17/06/16 12:38:48</td>   <td>118866</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LockScreenUITest.afterMethod()[pri:0, instance:lockscreen.test.LockScreenUITest@20322d26]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@916419490</td>   <td></td> </tr>
<tr bgcolor="97b678">  <td>17/06/16 12:39:46</td>   <td>176866</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LockScreenUITest.afterMethod()[pri:0, instance:lockscreen.test.LockScreenUITest@20322d26]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@916419490</td>   <td></td> </tr>
<tr bgcolor="97b678">  <td>17/06/16 12:41:02</td>   <td>253379</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LockScreenUITest.afterMethod()[pri:0, instance:lockscreen.test.LockScreenUITest@20322d26]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@916419490</td>   <td></td> </tr>
<tr bgcolor="97b678">  <td>17/06/16 12:42:10</td>   <td>321137</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LockScreenUITest.afterMethod()[pri:0, instance:lockscreen.test.LockScreenUITest@20322d26]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@916419490</td>   <td></td> </tr>
<tr bgcolor="97b678">  <td>17/06/16 12:43:08</td>   <td>379542</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LockScreenUITest.afterMethod()[pri:0, instance:lockscreen.test.LockScreenUITest@20322d26]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@916419490</td>   <td></td> </tr>
<tr bgcolor="97b678">  <td>17/06/16 12:44:06</td>   <td>437692</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LockScreenUITest.afterMethod()[pri:0, instance:lockscreen.test.LockScreenUITest@20322d26]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@916419490</td>   <td></td> </tr>
<tr bgcolor="97b678">  <td>17/06/16 12:45:04</td>   <td>495429</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LockScreenUITest.afterMethod()[pri:0, instance:lockscreen.test.LockScreenUITest@20322d26]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@916419490</td>   <td></td> </tr>
<tr bgcolor="97b678">  <td>17/06/16 12:46:03</td>   <td>554360</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LockScreenUITest.afterMethod()[pri:0, instance:lockscreen.test.LockScreenUITest@20322d26]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@916419490</td>   <td></td> </tr>
<tr bgcolor="97b678">  <td>17/06/16 12:47:02</td>   <td>613105</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LockScreenUITest.afterMethod()[pri:0, instance:lockscreen.test.LockScreenUITest@20322d26]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@916419490</td>   <td></td> </tr>
<tr bgcolor="97b678">  <td>17/06/16 12:48:00</td>   <td>671143</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LockScreenUITest.afterMethod()[pri:0, instance:lockscreen.test.LockScreenUITest@20322d26]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@916419490</td>   <td></td> </tr>
<tr bgcolor="97b678">  <td>17/06/16 12:49:14</td>   <td>745611</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LockScreenUITest.afterMethod()[pri:0, instance:lockscreen.test.LockScreenUITest@20322d26]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@916419490</td>   <td></td> </tr>
<tr bgcolor="97b678">  <td>17/06/16 12:50:36</td>   <td>827159</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LockScreenUITest.afterMethod()[pri:0, instance:lockscreen.test.LockScreenUITest@20322d26]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@916419490</td>   <td></td> </tr>
<tr bgcolor="97b678">  <td>17/06/16 12:51:44</td>   <td>895740</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LockScreenUITest.afterMethod()[pri:0, instance:lockscreen.test.LockScreenUITest@20322d26]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@916419490</td>   <td></td> </tr>
<tr bgcolor="97b678">  <td>17/06/16 12:53:42</td>   <td>1013748</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LockScreenUITest.afterMethod()[pri:0, instance:lockscreen.test.LockScreenUITest@20322d26]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@916419490</td>   <td></td> </tr>
<tr bgcolor="97b678">  <td>17/06/16 12:35:44</td>   <td>-64356</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LockScreenUITest.beforeMethod()[pri:0, instance:lockscreen.test.LockScreenUITest@20322d26]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@916419490</td>   <td></td> </tr>
<tr bgcolor="97b678">  <td>17/06/16 12:37:49</td>   <td>59959</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LockScreenUITest.beforeMethod()[pri:0, instance:lockscreen.test.LockScreenUITest@20322d26]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@916419490</td>   <td></td> </tr>
<tr bgcolor="97b678">  <td>17/06/16 12:38:48</td>   <td>118867</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LockScreenUITest.beforeMethod()[pri:0, instance:lockscreen.test.LockScreenUITest@20322d26]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@916419490</td>   <td></td> </tr>
<tr bgcolor="97b678">  <td>17/06/16 12:39:46</td>   <td>176866</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LockScreenUITest.beforeMethod()[pri:0, instance:lockscreen.test.LockScreenUITest@20322d26]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@916419490</td>   <td></td> </tr>
<tr bgcolor="97b678">  <td>17/06/16 12:41:02</td>   <td>253379</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LockScreenUITest.beforeMethod()[pri:0, instance:lockscreen.test.LockScreenUITest@20322d26]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@916419490</td>   <td></td> </tr>
<tr bgcolor="97b678">  <td>17/06/16 12:42:10</td>   <td>321138</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LockScreenUITest.beforeMethod()[pri:0, instance:lockscreen.test.LockScreenUITest@20322d26]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@916419490</td>   <td></td> </tr>
<tr bgcolor="97b678">  <td>17/06/16 12:43:08</td>   <td>379543</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LockScreenUITest.beforeMethod()[pri:0, instance:lockscreen.test.LockScreenUITest@20322d26]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@916419490</td>   <td></td> </tr>
<tr bgcolor="97b678">  <td>17/06/16 12:44:06</td>   <td>437693</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LockScreenUITest.beforeMethod()[pri:0, instance:lockscreen.test.LockScreenUITest@20322d26]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@916419490</td>   <td></td> </tr>
<tr bgcolor="97b678">  <td>17/06/16 12:45:04</td>   <td>495430</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LockScreenUITest.beforeMethod()[pri:0, instance:lockscreen.test.LockScreenUITest@20322d26]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@916419490</td>   <td></td> </tr>
<tr bgcolor="97b678">  <td>17/06/16 12:46:03</td>   <td>554368</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LockScreenUITest.beforeMethod()[pri:0, instance:lockscreen.test.LockScreenUITest@20322d26]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@916419490</td>   <td></td> </tr>
<tr bgcolor="97b678">  <td>17/06/16 12:47:02</td>   <td>613106</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LockScreenUITest.beforeMethod()[pri:0, instance:lockscreen.test.LockScreenUITest@20322d26]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@916419490</td>   <td></td> </tr>
<tr bgcolor="97b678">  <td>17/06/16 12:48:00</td>   <td>671145</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LockScreenUITest.beforeMethod()[pri:0, instance:lockscreen.test.LockScreenUITest@20322d26]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@916419490</td>   <td></td> </tr>
<tr bgcolor="97b678">  <td>17/06/16 12:49:14</td>   <td>745612</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LockScreenUITest.beforeMethod()[pri:0, instance:lockscreen.test.LockScreenUITest@20322d26]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@916419490</td>   <td></td> </tr>
<tr bgcolor="97b678">  <td>17/06/16 12:50:36</td>   <td>827160</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LockScreenUITest.beforeMethod()[pri:0, instance:lockscreen.test.LockScreenUITest@20322d26]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@916419490</td>   <td></td> </tr>
<tr bgcolor="97b678">  <td>17/06/16 12:51:44</td>   <td>895741</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LockScreenUITest.beforeMethod()[pri:0, instance:lockscreen.test.LockScreenUITest@20322d26]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@916419490</td>   <td></td> </tr>
<tr bgcolor="97b678">  <td>17/06/16 12:53:42</td>   <td>1013749</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LockScreenUITest.beforeMethod()[pri:0, instance:lockscreen.test.LockScreenUITest@20322d26]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@916419490</td>   <td></td> </tr>
</table>
