<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Failed suite [Default suite]</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="c7a4e4">  <td>16/12/14 17:50:13</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DemoTest.LSUnlockDeviceTest()[pri:8, instance:lockscreen.test.DemoTest@91161c7]">LSUnlockDeviceTest</td> 
  <td>main@1225439493</td>   <td></td> </tr>
<tr bgcolor="c7a4e4">  <td>16/12/14 17:50:14</td>   <td>812</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DemoTest.afterMethod()[pri:0, instance:lockscreen.test.DemoTest@91161c7]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@1225439493</td>   <td></td> </tr>
<tr bgcolor="c7a4e4">  <td>16/12/14 17:50:00</td>   <td>-12768</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;DemoTest.beforeMethod()[pri:0, instance:lockscreen.test.DemoTest@91161c7]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@1225439493</td>   <td></td> </tr>
</table>
